<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="appium_grid" parallel="tests">

    <test name="iPhone 7">
        <parameter name="port" value="4723"></parameter>
        <parameter name="Device_name" value="iPhone 7"></parameter>
        <parameter name="wda" value="8100"></parameter>
        <classes>
            <class name="ShoppingTest">
                <methods>
                    <include name="searchFood"></include>
                </methods>
            </class>
        </classes>
    </test>
    <test name="iPhone 8">
        <parameter name="port" value="4724"></parameter>
        <parameter name="Device_name" value="iPhone 8"></parameter>
        <parameter name="wda" value="8200"></parameter>
        <classes>
            <class name="ShoppingTest">
                <methods>
                    <include name="searchFood"></include>
                </methods>
            </class>
        </classes>
    </test>

</suite>